<div class="side-bar_top">
  <div class="name-chat-btn">
    <div class="side-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class="chat-btn">
      <%= link_to "チャットを作成する", new_room_path %>
    </div>
  </div>  
</div>
<div class="side-bar_main">
  <% current_user.rooms.each do |room| %>
    <div class="chat-list">
      <div class="chat-list_name">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>   
  <% end %>   
</div>