<div class="side-bar_top">
  <div class="name-chat-btn">
    <div class="side-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class="chat-btn">
      <a href="#">チャットを作成する</a>
    </div>
  </div>  
</div>
<div class="side-bar_main">
  <div class="chat-list">
    <a href="#">techroom1</a>
  </div>
  <div class="chat-list">
    <a href="#">techroom2</a>
  </div>
  <div class="chat-list">
    <a href="#">techroom3</a>
  </div>    
</div>